:root {
  --text-color: rgb(24, 24, 24);
}

.chatIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5rem;
}

.intro-img {
  width: 30%;
  max-width: 16rem;
  object-fit: contain;
}

.chatIntro h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 1rem;
  text-align: center;
}

.chatIntro h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 1rem;
}
